<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/security 
   http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<security:http auto-config="true" use-expressions="true" access-denied-page="/auth/denied">
		<security:intercept-url pattern="/auth/login" access="permitAll"/>
		<security:intercept-url pattern="/auth/register" access="permitAll"/>
		<security:intercept-url pattern="/auth/classGroups" access="permitAll"/>
		<security:intercept-url pattern="/auth/forgottenPassword" access="permitAll"/>
		<security:intercept-url pattern="/auth/resetPassword" access="permitAll"/>
		<security:intercept-url pattern="/resources/js/lib/**" access="permitAll" />
		<security:intercept-url pattern="/resources/js/login/**" access="permitAll" />
		
<!-- 		<security:intercept-url pattern="/" access="hasAnyRole('USER','ADMIN')" /> -->
<!-- 		<security:intercept-url pattern="/resources/**" access="hasAnyRole('USER','ADMIN')" /> -->
<!-- 		<security:intercept-url pattern="/vote/**" access="hasAnyRole('USER','ADMIN')" /> -->
<!-- 		<security:intercept-url pattern="/points/**" access="hasAnyRole('USER','ADMIN')" /> -->
<!-- 		<security:intercept-url pattern="/auth/menu" access="hasAnyRole('USER','ADMIN')" /> -->
<!-- 		<security:intercept-url pattern="/**" access="hasAnyRole('ADMIN')" /> -->
		
		<security:form-login
			login-page="/auth/login"
			authentication-failure-url="/auth/login?error=true"
			default-target-url="/"/>
		
		<security:logout
			invalidate-session="true"
			logout-success-url="/auth/login"
			logout-url="/auth/logout"/>
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="surveySecurityRealm">
<!-- 			<security:password-encoder ref="passwordEncoder"></security:password-encoder> -->
		</security:authentication-provider>
<!-- 		  <security:authentication-provider> -->
<!-- 		  	<security:user-service> -->
<!-- 		  		<security:user name="admin" password="admin" authorities="ROLE_ADMIN"/> -->
<!-- 		  		<security:user name="te" password="te" authorities="ROLE_USER"/> -->
<!-- 		  	</security:user-service> -->
<!-- 		  </security:authentication-provider> -->
	</security:authentication-manager>
	
<!-- 	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/> -->
	<bean id="surveySecurityRealm" class="hr.tvz.polling.bll.SurveySecurityRealm">
<!-- 		<property name="userManager" ref="userManagerImpl"/> -->
	</bean>
	
<!-- 	<bean id="userManagerImpl" class="hr.tvz.polling.bll.UserManagerImpl"></bean> -->
</beans>