s /* app css stylesheet */ 
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

/* * { */
/* 	margin: 0; */
/* } */
html, body {
	height: 100%;
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -30px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	/* .push must be the same height as footer */
	height: 30px;
	/* 	background: #d8d8d8; */
}

.site-footer p {
	/* 	color: #337ab7; */
	color: #777;
	width: 200px;
	margin: auto;
}

#wrapper {
	/* 	margin: 0 auto; */
	/* 	max-width: 1000px; */
	/* 	margin-top: 50px; */
}

.container {
	text-align: center;
}

.wrongAnswer {
	color: red;
}

.correctAnswer {
	color: green;
}

.nav.nav-center {
	display: inline-block;
	left: 0;
	right: 0;
	margin: 0;
	margin-top: 7px;
	float: none;
}

.menu {
	/* 	text-align: center; */
	/* 	list-style: none; */
	/* 	padding: 0 0 0.5em; */
	/* 	font-size: 30px; */
	/* 	font-weight: bolder; */
	/* 	margin-top: 20px; */
	/* min-width:200px; */
	/* margin:auto; */
/* 	margin-top: -5px !important; */
	font-weight: 600;
	font-size: 1.2em;
	/* border:1px solid red; */
}

/* .menu li:last-child a:last-child { */
/* 	color: #D80000; */
/* } */

.menu>li {
	/* 	display: inline; */
	
}

.menu li a {
	/*	text-decoration: none; */
	
}

.menu li a:link {
	/* 	padding: 20px 0px 20px 0px; */
	
}

.menu li a:visited {
	/* 	background-image: url(nav_bg.png); */
	color: #337ab7;
}

.menu li a:hover {
	color: #387700;
	/* 	border:1px solid gray; */
	/* 	padding:20px 0px 20px 0px; */
	/* 	background: #f0f0f0; */
}

.welcomeLabel {
	color: orange !important;
}

.contentView {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

@media all and (max-width: 767px) {
	.contentView {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}

/* @media all and (max-width: 2000px) and (min-width: 768px) { */
/*   .contentView { */
/*     background: #666; */
/*   } */
/* } */
/* .example-animate-container { */
/* 	background: white; */
/* 	border: 1px solid black; */
/* 	list-style: none; */
/* 	margin: 0; */
/* 	padding: 0 10px; */
/* } */

/* .animate-repeat { */
/* 	line-height: 40px; */
/* 	list-style: none; */
/* 	box-sizing: border-box; */
/* 	display: block; */
/* } */

/* .animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave */
/* 	{ */
/* 	-webkit-transition: all linear 0.5s; */
/* 	transition: all linear 0.5s; */
/* } */

/* .animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move, */
/* 	.animate-repeat.ng-enter { */
/* 	opacity: 0; */
/* 	max-height: 0; */
/* } */

/* .animate-repeat.ng-leave, .animate-repeat.ng-move.ng-move-active, */
/* 	.animate-repeat.ng-enter.ng-enter-active { */
/* 	opacity: 1; */
/* 	max-height: 40px; */
/* } */
.devmode {
	/* 	background-color: dimgray; */
	/* 	color:white; */
	
}

.growlToast {
	margin-top: 15px;
}