<div>
<h4>Survey template</h4>
</div>

	<form name = "templateForm" ng-submit="save()" method="POST">

		<div class="form-group">
			<input class="form-control" type = "text" ng-model = "survey.question" placeholder="Survey name:" required> 
		</div>
		
		<div class="form-group">
			<select class="form-control" ng-model="classGroupSelect" ng-change="classChange()" 
					ng-options="classGroup.name group by classGroup.academicYear for classGroup in classGroupList 
					| orderBy:['-academicYear', 'name']">
					<option/>
			</select>
			<input class="form-control" style="width:50%; float:left;" type = "text" placeholder = "Class group:" ng-model = "survey.classGroup.name" required>
			<input class="form-control" style="width:50%; float:left;" type = "text" placeholder = "Academic Year:" ng-model = "survey.classGroup.academicYear" required></input>
			
<!-- 			<div class="dropdown"> -->
<!-- 				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"  -->
<!-- 				aria-expanded="true">DropDown -->
<!-- 				</button> -->
<!-- 				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-model="classGroupSelect" ng-change="classChange()">  -->
<!-- 						<li role="presentation" ng-repeat="classGroup in classGroupList">{{classGroup.name}}<li/> -->
<!-- 				</ul> -->
<!-- 			</div> -->
		</div>
		<br>
		<br>
		<div class="input-group">
			<label class="input-group-btn"> 
				<button type="button" class = "btn btn-default btn-primary" ng-click="addOption()" ng-disabled="!optionName">Add option</button>
			</label>
			<input class="form-control" type = "text"  placeholder="Option name:" ng-model = "optionName" >
		</div>
		
	<hr>
	<div ng-show="survey.question">
	<p style="font-size:130%">Survey:
		<span style="font-size:150%">{{survey.question}}</span>
	</p>
	</div>
	<div ng-show="survey.options.length > 0">
		<table class="table table-bordered table-striped" >
			<thead>
		<tr>
					<th>Action</th>
					<th>Option</th>
				</tr>
			</thead>
				<tbody>
				<tr class="animate-repeat" ng-repeat="opt in survey.options">
				
					<td style = "min-width1:235px">
						<button type = "button" class="btn btn-danger" ng-click = "optionRemove($index)">Remove</button>
						<button type = "button" class="btn btn-success" ng-show="opt.state && survey.scored" ng-click="setActive($index, false)">Correct</button>
						<button type = "button" class="btn" ng-show="opt.state==false && survey.scored" ng-click="setActive($index, true)">Incorrect</button>
					</td>
		
					<td style = "min-width1:235px">{{opt.name}}</td>
				</tr>
			</tbody>
 </table>
<!-- 	<hr> -->
		<div ng-show = "survey.options.length > 1">
			
			<div class="">
				<label>Points: </label>
				<label class=""> 
					<button type = "button" class="btn btn-default" ng-show="survey.scored" ng-click="setScored(false)">Scored</button>
					<button type = "button" class="btn" ng-show="!survey.scored" ng-click="setScored(true)">Not scored</button>
				</label>
				
			</div>
<!-- 			<br /> -->
			<!-- 		<number-only-input input-value="survey.maxVotes" input-name="maxInputVotes"> -->
			<input class="form-control" type = "text" ng-model = "survey.maxVotes" ng-keyup="checkNumeric()" placeholder = "Max number of votes(optional)">
			<br />
			
			<input type = "button" class = "btn btn-danger" value="Remove all" ng-show = "survey.options.length > 1" ng-click = "clearTemplate()"> 
			<input type = "submit" class = "btn btn-primary" value="Add survey" ng-show = "survey.options.length > 1" ng-disabled = "templateForm.$invalid"> 
		</div>		
	</div>
	</form>
	<div class = "growlToast" growl limit-messages="5"></div>
		
	