<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="PollApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Survey portal - Login</title>
    <link rel="stylesheet" href="/PollApp/resources/bootstrap/css/bootstrap.min.3.3.1.css" />
	<link rel="stylesheet" href="/PollApp/resources/js/login/login.css" />
</head>
<body 
	style="width: 400px; margin: auto; margin-top: 100px;">
	<noscript>
    	You need JavaScript enabled to use this app.
	</noscript>
	<div class="ng-cloak" ng-controller="LoginCtrl">
	
<!--   LOGIN   -->

		<div ng-show="!reg && !forgot">
			<h2>Survey Portal - Login</h2>
			<br>
			<form name="loginForm" action="/PollApp/j_spring_security_check" method="POST">
				<div class="form-group">
<!-- 					<label for="j_username">Username: </label>  -->
					<input class="form-control" placeholder = "Username:" id="j_username" name="j_username" type="text" ng-model="login.name" required/>
				</div>
				
				<div class="form-group">
<!-- 					<label for="j_password">Password: </label>  -->
					<input class="form-control" placeholder="Password:" id="j_password" name="j_password" type="password" ng-model="login.pass" required/>
				</div>
				<input class="btn btn-primary" type="submit" value="Login" ng-disabled="loginForm.$invalid"/>
			</form>
			<br>
			<!-- 	<div id="login-error">${error}</div> -->
			<div ng-show="errorMessage" class = "errorMessage" ng-bind="errorMessage"></div>
			<div ng-show="successMessage" class = "successMessage" ng-bind= "successMessage"></div>
<!-- 			<br> -->
		<p class="linkp" ng-click="reg=!reg">Registration</p>
		<p class="linkp" ng-click="forgot=!forgot">Forgot password?</p>
		</div>
		
<!-- REGISTRATION -->

		<div ng-show="reg">
			<h2>Registration</h2>
			
			<p>Note: Only valid university emails are allowed.</p>
			
			<form name="registrationForm" ng-submit="register()" method="POST">
					
				<div class="input-group">
					<input class="form-control" style="width:50%; float:left" placeholder="name" id="registrationName" name="registrationName" type="text" ng-model="registeringUser.firstName" required/>
					<input class="form-control" style="width:50%; float:left" placeholder="surname" id="registrationSurname" name="registrationSurname" type="text" ng-model="registeringUser.lastName" required/>
				</div>
				<div class="input-group">
					<input class="form-control" placeholder="email" id="registrationEmail" name="registrationEmail" type="text" ng-model="registeringUser.email" required/>
					<label class="input-group-addon">@tvz.hr</label>
				</div>
				<br>
				<div class="form-group">
					<select class="form-control" ng-model="classGroupSelect" ng-change="classChange()" 
							ng-options="classGroup.name group by classGroup.academicYear for classGroup in classGroupList 
							| orderBy:['-academicYear', 'name']">
							<option/>
					</select>
					<input class="form-control" style="width:50%; float:left;" type = "text" placeholder = "Class group:" ng-model = "classGroupSelect.name" readonly="readonly" required>
					<input class="form-control" style="width:50%; float:left;" type = "text" placeholder = "Academic Year:" ng-model = "classGroupSelect.academicYear" readonly="readonly" required></input>
				</div>					
<!-- 				<p> -->
<!-- 					<select ng-model="classGroupSelect"  -->
<!-- 						ng-options="classGroup.name group by classGroup.academicYear for classGroup in classGroupList | orderBy:['-academicYear', 'name']"> -->
<!-- 						<option/> -->
<!-- 					</select> -->
<!-- 					<input type = "text" placeholder = "Class group:" ng-model = "classGroupSelect.name" readonly="readonly" required> -->
<!-- 					<input type = "text" placeholder = "Academic Year:" ng-model = "classGroupSelect.academicYear" readonly="readonly" required></input> -->
<!-- 			<br /> -->
<!-- 				</p> -->
				<br>
				<br>
				<p>
					<input class="btn btn-primary" type="submit" value="Register" ng-disabled="registrationForm.$invalid">
				</p>
			</form>
			<br>
			<p class="linkp" ng-click="backToLogin()">Cancel</p>
			
		</div>


<!--  FORGOTTEN PASSWORD  -->

		<div ng-show="forgot">
			<h2>Forgotten Password</h2>
			<br>
			<div class="input-group">
				<label class ="input-group-btn">
					<button class="btn btn-primary" ng-click="forgotPassword()" ng-disabled="!regEmail">Send</button>
				</label>
				<input class="form-control" type="text" placeholder = "Email:" ng-model="regEmail">
			</div>
			<br>
			<p class="linkp" ng-click="forgot=!forgot">Cancel</p>
		</div>
		
		<script src="/PollApp/resources/js/lib/angular/angular.js"></script>
		<script src="/PollApp/resources/js/login/login.js"></script>
	
	</div>
</body>
</html>
