<!DOCTYPE html>
<html ng-app="PollApp">
<head>
	<meta charset="UTF-8">
	<title>Survey Portal - password reset</title>
    <link rel="stylesheet" href="/PollApp/resources/bootstrap/css/bootstrap.min.3.3.1.css" />
    <link rel="stylesheet" href="/PollApp/resources/js/login/login.css" />
</head>
<body>
	
	<div style="width:400px; margin: auto; margin-top: 150px;" ng-controller="ResetCtrl">
		<h2>Password reset</h2>
		<br>
		<div class="input-group">
	
			<label class="input-group-btn">
				<button class="btn btn-primary" ng-click = "updatePassword()" ng-disabled = "!newPassword">
				Reset
				</button>
			</label>
			<input class="form-control" type="text" placeholder="Type new password" ng-model=newPassword>
		</div>
		<br>
		<p class="linkp" ng-click="backToLogin()">Cancel</p>
	</div>
	
		<script src="/PollApp/resources/js/lib/angular/angular.js"></script>
		<script src="/PollApp/resources/js/login/login.js"></script>
</body>
</html>