<!DOCTYPE html>
<html ng-app="PollApp">
<head>
<meta charset="UTF-8">
<title>Survey Portal - password reset</title>
</head>
<body>
	
	<div style="width:400px; margin: auto; margin-top: 150px;" ng-controller="ResetCtrl">
		<input type="text" placeholder="new password" ng-model=newPassword>
		<p ng-click = "updatePassword()">
			Reset Password.
		</p>
		<p ng-click="backToLogin()">Cancel</p>
	</div>
	
		<script src="/PollApp/resources/js/lib/angular/angular.js"></script>
		<script src="/PollApp/resources/js/login/login.js"></script>
</body>
</html>