/* [ng\:cloak], [ng-cloak], .ng-cloak { */
/* 			display: none !important; */
/* } */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.errorMessage{
	margin-top:10px;
	margin-bottom:10px;
	color:red;
	font-size:120%
}
.successMessage{
	margin-top:10px;
	margin-bottom:10px;
	color:#005800;
	font-size:120%
}

.linkp {
	color:#204d74;
}

.contentView {
	margin-top:10%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

@media all and (min-width: 1px) and (max-width: 767px) {
	.contentView {
		margin-top:10%;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}