<h3>Poll template</h3>
<!-- addQuestion -->
<div class="row">
 <div class="col-sm-12 col-md-12">
<div class="input-group">
    <input class="form-control anketaInput" placeholder="Unesite pitanje..." type="text" ng-model="questionName" required min="1" />
    <span class = "input-group-btn">
    	<button class="btn btn-primary btn-default" ng-disabled="!questionName" ng-click="addNewQuestion(questionName)">{{buttonQuestion}}</button>
    </span>
</div>

<!-- addOption -->
<div class="input-group">
    <input class="form-control anketaInput" placeholder = "Unesite odgovor..." type="text" ng-model="optionName" required min="1" />
    <span class = "input-group-btn">
    	<button class="btn btn-primary btn-default" ng-disabled="!optionName" ng-click="addNewOption(optionName)">Add option</button>
    </span>
</div>
</div>
</div>
<!-- questionName -->
<h3 ng-show = "questionName.length > 0"><em>Poll: </em> <i>{{questionName}}</i></h3>
<div class="alert alert-info divalert" ng-show="anketaOptionsList.length == 0">
    No options found
</div>
<!-- table options -->
<table class="table table-bordered table-striped tableoptions" ng-show="anketaOptionsList.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Action</th>
            <th style="text-align: center;">Option Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="opt in anketaOptionsList">
            <td  style="width:70px;text-align:center;">
            	<button class="btn btn-sm btn-danger" ng-click="removeOption(opt)">!Remove</button>
            </td>
            <td>{{opt}}</td>
        </tr>
    </tbody>
</table>
<div class="input-group" ng-show="anketaOptionsList.length > 1">
    <input class="form-control anketaInput" placeholder = "Limit max votes (optional)" type="text" ng-model="maxVotes" />
    <span class = "input-group-btn">
    	<button class="btn btn-primary btn-default" ng-disabled="!maxVotes" ng-click="setMaxAllowed(maxVotes)">Set max</button>
    </span>
</div>
<!-- bottom buttons -->
	<button class="btn btn-danger"  ng-show="anketaOptionsList.length > 1" ng-click="removeAllOptions()">!Remove All Options</button>
	<button class="btn btn-primary "  ng-show="anketaOptionsList.length > 1" ng-click="saveAnketa()">Save anketa</button>

<div class="alert alert-success alert-dismissible saveNotification" ng-show="anketaSaved == true">
		Anketa saved successfully.
</div>
