<div>
<h3>HERE COMES THE SUN</h3>
</div>

<hr>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Activation</th>
			<th>Survey</th>
<!-- 			<th>Validity</th> -->
<!-- 			<th>Hint</th>			 -->
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="survey in surveyList">
			<td style = "min-width:235px !important">

<!-- 			on ACTIVATE click = set Date // set time // now! buttons appear -->
				<button ng-show="survey.active == null" class="btn  btn-danger" ng-click="remove($index)">Remove</button>
				<button ng-show="survey.active == null" class="btn  btn-info" ng-click="setActive($index,false)">Activate</button>
				
<!-- 				date from  -->
				<div class="dropdown pull-left" style="width:80px;" ng-show="survey.active != null">
				  <a class="dropdown-toggle" id="dropdownFrom{{$index}}" role="button" data-toggle="dropdown" data-target="#" href="">
				    <div class="input-group">
				    	<input type="text" class="form-control" data-ng-model="data.dateDropDownInputFrom" placeholder="Select start datetime">
				    	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				    </div>
				  </a>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    <datetimepicker data-ng-model="data.dateDropDownInputFrom" data-datetimepicker-config="{ dropdownSelector: '#dropdownFrom{{$index}}' }"/>
				  </ul>
				</div>
				
<!-- 				date to -->
				<div class="dropdown pull-left" style="width:80px;" ng-show="survey.active != null">
				  <a class="dropdown-toggle" id="dropdownTo{{$index}}" role="button" data-toggle="dropdown" data-target="#" href="">
				    <div class="input-group">
				    	<input type="text" class="form-control" data-ng-model="data.dateDropDownInputTo" placeholder="Select start datetime">
				    	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				    </div>
				  </a>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    <datetimepicker data-ng-model="data.dateDropDownInputTo" data-datetimepicker-config="{ dropdownSelector: '#dropdownTo{{$index}}' }"/>
				  </ul>
				</div>

				<button ng-show="!survey.active && survey.active != null" class="btn  btn-success " ng-click="setActive($index,!survey.active)">Update</button>
				<button ng-show="survey.active && survey.active != null" class="btn  btn-warning " ng-click="setActive($index,null)">Deactivate</button>
				<p ng-show="data.dateDropDownInputFrom">Date from: {{ data.dateDropDownInputFrom | date:'yyyy-MM-dd HH:mm' }}</p> 
				<p ng-show="data.dateDropDownInputTo">Date to: {{ data.dateDropDownInputTo | date:'yyyy-MM-dd HH:mm' }}</p> 
			</td>

			<td style = "min-width:235px !important">
				<p ng-click="hint=!hint">{{survey.question}}</p>
				<p>{{survey.classGroup.name}} {{survey.classGroup.academicYear}}</p>
				<br/>
				<textarea ng-show="hint || survey.hint" ng-model="survey.hint" placeholder="Hint"></textarea>
			
			</td>

</tr>
	</tbody>
</table>

<div class = "growlToast" growl limit-messages="5"></div>
